.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  color: #fff;
  background-color: rgb(209, 45, 45);

  h1 {
    margin-right: 1rem;
  }

  .tracker-logo {
    height: 2.2rem;
    width: 2.2rem;
  }
}
